@import url('global.css');

.algorithmFooter {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background-color: var(--seasalt);
    margin: auto;
}

.algorithmFooter.show {
    display: flex;
}

.prevBtn, .nextBtn {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.nextBtn {
    background-color: var(--periwinkle);
    color: white;
}

.nextBtn:hover {
    background-color: var(--raisin-black);
}

.prevBtn {
    background-color: var(--almond);
    color: var(--raisin-black);
}

.prevBtn:hover {
    background-color: var(--peach);
}