.algorithmSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    min-width: 200px;
    min-height: 600px;
    background-color: #ffe6ce;
}