@import url('global.css');

html, body, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Metrophobic', sans-serif; 
}

#root, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--raisin-black);
  color: var(--seasalt);
}
