@import url('global.css');

.arrayPanel {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
}

.arrayPanel.show {
  display: flex;
}

.arrayPanel div {
    background-color: var(--periwinkle);
    border-color: var(--raisin-black);
    border-style: ridge;
    border-width: 1px;
    padding: 10px;
    flex: 1;
    margin: 0 5px;
}

.arrayPanel div.highlighted {
    background-color: var(--peach);
}