@import url('global.css');

.getInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.getInput label {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.getInput ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding: 0;
    gap: 10px;
    
}

.getInput ul li {
    flex: 1;
    margin: 0 5px;
    list-style-type: none;
    border: 1px solid #000; /* Add a border */
    padding: 10px; /* Add some padding */
    text-align: center; /* Center the text */
    background-color: var(--seasalt); /* Add a background color */
}

.getInput .btns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.btns button {
    border-style: none;
    border: 1px solid var(--raisin-black);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btns .submitBtn, .btns .doneBtn {
    background-color: var(--periwinkle);
    color: var(--raisin-black);
}

.btns .submitBtn:hover, .btns .doneBtn:hover {
    color: var(--seasalt);
    background-color: var(--raisin-black);
}

.btns .backBtn, .btns .clearBtn {
    background-color: var(--almond);
}

.btns .backBtn:hover, .btns .clearBtn:hover{
    background-color: var(--peach);
}