.nav {
    height: 6vh;
    background-color: #ababe0;
  }
  
  .nav .navButton,
  .nav .navButton * {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    border: none;
    padding: none;
  }
  
  .nav .navButton.menu-open {
    background-color: #1c1c28;
  }
  
  .nav .navButton.menu-open:hover {
    background-color: #3b3b56;
  }
  
  .nav .navButton.menu-closed {
    background-color: #ababe0;
  }
  
  .nav .navButton.menu-closed:hover {
    background-color: #3b3b56;
  }
  
  .nav .navButton img {
    max-width: 100%;
    max-height: 100%;
  }